@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full px-4 py-2 border rounded-lg dark:bg-zinc-800 dark:border-zinc-700 outline-none focus:ring-2 focus:ring-black transition;
}
